<nav class="collection-menu">
    <div class="home-icon"><a href="/" class="back">Publishing</a></div>
    <div class="mobile-icon"><a href="/"><i class="fa fa-bars"></i></a></div>
	<span class="collection-editor">Collection edited by <span class="post-author"><a href="/@{{editor.username}}/">{{editor.name}}</a></span>
    <div class="collection-buttons">
    </div>
</nav>

<header class="collection-header" style="background-image: url(/shared/img/{{#if cover}}{{cover}}{{/if}})">
    <div class="overlay"></div>
    <div class="vertical">
        <div class="collection-header-content inner">
            <h1 class="collection-title">{{title}}</h1>
            <h2 class="collection-description">{{description}}</h2>
       </div>
    </div>
</header>

<section class="collection-contents">
    <section class="block-contents no-border">
        <a href="" class="label">Latest</a>
        {{#if posts}}
            {{#each posts}}
        <section class="post-wrapper">
                <article clsss="post-block">
                    <span class="post-title"><a href="/@{{author.username}}/{{slug}}">{{title}}</a></span>
                    <section class="post-content">
                        {{excerpt}}
                    </section>
                    <section class="post-footer">
                        <span class="author"><a href="/@{{author.username}}/">{{author.name}}</a></span>
                        <a href="#{{id}}" class="readtime">{{time}}</a>
                    </section>
                </article> 
        </section>
            {{/each}}
        {{/if}} 
    </section>    
</section>

<aside class="mobile-menu-holder">
    
</aside>