<nav class="collection-menu">
	<a href="/" class="back">M</a>
	<span class="collection-editor">Collection edited by {{editor.name}}</span>
    <div class="collection-buttons">
    </div>
</nav>

<header class="collection-header" style="background-image: url(http://www.sadmuffin.net/cherrybam/graphics/graphics-photography/photography206.jpg)">
    <div class="overlay"></div>
    <div class="vertical">
        <div class="collection-header-content inner">
            <h1 class="collection-title">{{title}}</h1>
            <h2 class="collection-description">{{description}}</h2>
       </div>
    </div>
</header>

<section class="collection-contents">
    <section class="block-contents no-border">
        <a href="" class="label">Latest</a>
        <section class="post-wrapper">
            {{#if posts}}
                {{#each posts}}
                <article clsss="post-block">
                    <span class="post-title"><a href="/@{{author.username}}/{{slug}}">{{title}}</a></span>
                    <section class="post-content">
                        {{{html}}}
                    </section>
                    <section class="post-footer">
                        <span class="author"><a href="/@{{author.username}}/">{{author.name}}</a></span>
                        <a href="#" class="readtime">9 min read</a>
                    </section>
                </article> 
                {{/each}}
            {{/if}} 
        </section>
    </section>    
</section>
