<header class="navbar">
	<nav class="nav-menu">
		<a href="/">Publishing &mdash; &hearts;</a>
		<ul class="nav-buttons">
			<li><a href="/@{{username}}/" style="background-image: url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav>
</header>

<section class="profile-wrapper">
	<div class="image-holder">
		<div class="user-image" style="background-image:url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></div>
	</div>
	<div class="user-name">{{name}}</div>
	<div class="user-bio">{{bio}}</div>
	<ul class="user-meta">
		<li><a href="#" class="following"><span>following</span>{{following.length}}</a></li>
		<li><a href="#" class="follower"><span>follower</span>{{follower.length}}</a></li>
		<li><a href="http://twitter.com/laxxers"><span>elsewhere</span><i class="fa fa-twitter"></i></a></li>
	</ul>

	<section class="profile-follow-wrapper">
		<input type="hidden" class="follow_id" name="follow_id" value={{id}}>
		<section class="profile-follow">
			
		</section>
	</section>
</section>

<div class="modal-wrapper following-modal">
	<a href="" class="close">close [x]</a>
	<div class="following-wrapper">

		<div class="name-follow">{{name}} follows</div>
		{{#each following}}
		<div class="follow-block">
			<div class="rounded">
				<div class="user-image" style="background-image: url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></div>
			</div>
			<div class="name"><a href="/@{{username}}/">{{name}}</a></div>
			<div class="username"><a href="/@{{username}}/">@{{username}}</a></div>
			<div class="bio">{{bio}}</div>
			
		</div>
	    {{/each}}
	</div>
</div>

<div class="modal-wrapper follower-modal">
	<a href="" class="close">close [x]</a>
	<div class="following-wrapper">

		<div class="name-follow">{{name}} is followed by</div>
		{{#each follower}}
		<div class="follow-block">
			<div class="rounded">
				<div class="user-image" style="background-image: url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></div>
			</div>
			<div class="name"><a href="/@{{username}}/">{{name}}</a></div>
			<div class="username"><a href="/@{{username}}/">@{{username}}</a></div>
			<div class="bio">{{bio}}</div>
			
		</div>
	    {{/each}}
	</div>
</div>

<section class="profile-contents">
</section>

