{{#if []}}

<section class="block-contents">
	<a href="" class="label">Latest</a>
	{{#each []}}
	<section class="post-wrapper">
		<article clsss="post-block">
			<span class="post-title"><a href="/@{{author.username}}/{{slug}}">{{title}}</a></span>
			<section class="post-content">
				{{excerpt}}
			</section>
			<section class="post-footer">
				<span class="author"><a href="/@{{author.username}}/">{{author.name}}</a></span>
				<a href="#" class="readtime">{{time}}</a>
			</section>
		</article>	
	</section>
	{{/each}}
</section>	
{{else}}
	<p>Hasn’t written any stories yet..</p>
{{/if}}
<section class="profile-collection">
	
</section>